<a href="https://colab.research.google.com/github/JJUYAAA/lecture_AI/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_Python%EA%B8%B0%EC%B4%883.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3. 자료형

| 이름 | 타입 | 가변 | 예제|
| - | - | - | - |
| 정수 | int | no | 47, 25000, 25_000 |
| 부동소수점 | float | no | 3.14, 2.7e5 |
| 복소수 | complex | no | 3j, 5 + 9j |
| 불리언 | bool | no | True, False |
| 문자열 | str | no | 'konkuk', "seoul" |
| 리스트 | list | yes | ['seoul', 'busan', 'daegu']|
| 튜플 | tuple | no | (2, 4, 6) |
| 셋 | set | yes | set([3, 5, 7]) |
| 딕셔너리 | dic | yes | {'name':'konkuk', age: 18}|

## 4. 판단문

- 불리안

In [2]:
a = True
b = False
c = None

print(c)
print(type(c))
print(bool(c))

None
<class 'NoneType'>
False

In [8]:
print(bool(1))
print(bool(0))
print(bool(-1))
print(bool("문자열이 있으면 True"))
print(bool(" "))
print(bool(""))
print()

print(bool([1, 2, 3]))
print(bool([]))

True
False
True
True
True
False

True
False

In [13]:
print('o' in 'konkuuk')
print(1 in [1,2,3])
print('juyeon' in 'hi juyeon')

#딕셔너리도 가능
print('apple' in {'apple':4})
print(4 in {'apple':4}) #키 값만 봄. value는 해당X

True
True
True
True
False

In [18]:
a = True
b = False

print(a and a)
print(b and b)
print(a and b) #둘 중 하나라도 false면 false
print('-------')

print(a or a)
print(b or b) # 둘 다 false면 false
print(a or b)
print('-------')

print(not a)

True
False
False
-------
True
False
True
-------
False

In [17]:
print(True or False and False)
#or랑 and가 동시에 있으면 and가 먼저 연산 됨
#or 먼저 하고싶으면 괄호로 감싸기

True

- if 문

In [20]:
x = 3

#조건은 T나 F를 반환
if x > 5:
  pass #지금 당장은 작성하지 않겠다
elif x > 2:
  pass
else:
  pass

In [22]:
age = 27
if age < 29:
  print('학생입니다')
  if age < 25:
    print('대학생')
  else:
    print('대학원생')
else:
  print('직장인입니다')

학생입니다
대학원생

In [25]:
a = 'juyeon'
print(a.find('u'))
print(a.index('y'))

print(a.find('k'))
#print(a.index('k')) #이거는 에러가 남

1
2
-1

In [28]:
if 'a' in a:
  print(a.index('a'))
else:
  print(-1)

-1

In [29]:
a,b,c = 1,2,3
if a == 1:
  print(a)
elif b == 2:
  print(b)
elif c == 3:
  print(c)

#다 True 이지만 순차적으로 실행되기 때문에 if 문만 출력 됨
#세개 다 출력하고 싶다면 if문을 세개 (elif 말고 )

1

- 예제 <윤년>

  - 4 로 나누어 떨어짐 -> 윤년
  - 100 으로 나누어 떨어짐 -> 평년
  - 400 으로 나누어 떨어짐 -> 윤년

In [32]:
year = 2100
if year%400 == 0 or (year%4 == 0 and year%100 != 0):
  print('윤년')
else:
  print('평년')

평년

## 5. 반복문

### while 문

In [33]:
count = 1
if count < 5:
  print(count)

1

In [35]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [37]:
letters = list('juyeon')
print(letters)

while letters:
  print(letters.pop(0))

['j', 'u', 'y', 'e', 'o', 'n']
j
u
y
e
o
n

- break, continue

In [39]:
count = 1
while True:
  if count>5:
    break
  print(count)
  count += 1

1
2
3
4
5

In [ ]:
count = 1
while count<5:
  if count%2 == 0:
    count += 1
    continue #밑에 코드를 실행하지 않고 바로 while 로 가서 조건 판별
  print(count)
  count += 1

### for 문

In [40]:
letters = 'konkuk'
for letter in letters: #letter는 글자 하나하나를 할당
  print(letter)

k
o
n
k
u
k

- 구구단

In [42]:
N = 7
for i in range(1,10):
  print(f'{N} * {i} = {N*i}')

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## 6. 함수

    코드 규모가 커지면 긴 코드를 함수로 쉽게 관리 할 수 있다.

    함수는 이름이 붙여진 코드 조각이다.

    함수는 매개변수를 입력하고 결과를 반환한다.

In [43]:
def do_nothing():
  pass

do_nothing()

In [45]:
def leaf():
  year = 2404
  if year%400 == 0 or (year%4 == 0 and year%100 != 0):
    print('윤년')
  else:
    print('평년')

leaf()

윤년

- 인수와 매개변수

    함수의 인수는 개수 상관없이 모든 유형의 인수를 취할 수 있다.

    반환값도 마찬가지로 개수 상관없이 모든 유형의 인수를 취할 수 있다.

In [46]:
def leaf(year):
  if year%400 == 0 or (year%4 == 0 and year%100 != 0):
    print('윤년')
  else:
    print('평년')


leaf(2404)

윤년

- 위치 인수

In [47]:
def menu(drink, meet, dessert):
  print(f'음료: {drink}')
  print(f'메뉴: {meet}')
  print(f'디저트: {dessert}')

menu('콜라', '치킨', '마카롱') #위치가 일치해야 정확하게 할당

음료: 콜라
메뉴: 치킨
디저트: 마카롱

- 키워드 인수

In [49]:
menu(meet='치킨', drink='콜라',  dessert='파이')
#순서를 변경해도 문제 없음

음료: 콜라
메뉴: 치킨
디저트: 파이

- 기본 매개변수 값 지정

In [52]:
def menu(drink='콜라', meet='지코바', dessert='애플파이'):
  print(f'음료: {drink}')
  print(f'메뉴: {meet}')
  print(f'디저트: {dessert}')

menu()
menu(drink='사이다')

음료: 콜라
메뉴: 지코바
디저트: 애플파이
음료: 사이다
메뉴: 지코바
디저트: 애플파이

In [53]:
def menu(drink, meet, dessert='애플파이'): #위치인수를 앞에, 키워드인수를 뒤에
  print(f'음료: {drink}')
  print(f'메뉴: {meet}')
  print(f'디저트: {dessert}')


menu(drink='사이다', meet ='치킨')

음료: 사이다
메뉴: 치킨
디저트: 애플파이

- 인수 분해하기 / 모으기

In [ ]:
#넘어감

- 키워드 인수 분해하기/모으기 *

In [ ]:
#넘어감

- 함수를 매개변수로 사용

In [ ]:
#넘어감

- 익명함수 lambda

In [ ]:
#넘어감

- 재귀함수

In [57]:
#깊이우선함수 구현할 때 재귀 사용 예정

def hello(count):
  #재귀함수 시작시 종료조건 만드는것이 좋음
  if count ==0:
    return

  print('hello')
  hello(count-1)

hello(5)

hello
hello
hello
hello
hello

- 연습 문제

    https://www.acmicpc.net/problem/2739