<a href="https://colab.research.google.com/github/JJUYAAA/lecture_AI/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_Python%EA%B8%B0%EC%B4%881.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 1. Anaconda를 통한 Python 설치

- 설치 파일 링크

    https://www.anaconda.com/download/success

- 설치 방법

    https://docs.anaconda.com/anaconda/install/windows/

- (옵션) Anaconda 없이 python 설치

    https://www.python.org/downloads/


## 2. Python 실행방법

- REPL (Read Evaluate Print Loop)
    
    Anaconda Prompt 실행

    ```
    >>> print("Hello World!")
    Hello World!
    >>> 1 + 1
    2
    ```

- 에디터로 작성하기 (VScode, Pycharm, jupyter-lab)

    ```
    # hello.py
    print("Hello World!")
    ```
    Anaconda Prompt / VScode 실행
    ```
    python hello.py
    ```

- 온라인에서 실행하기 (Colab)

    https://colab.google/

In [1]:
print("하이하이")

하이하이

코드 에러 질문은 ChatGPT / Gemini 한테하면 다 해결해준다.

## 3. 자료형



### 1. 변수

- 변수는 하나의 상자다.

- 변수는 자료형을 저장하는 공간이다.

- 값을 변수에 **할당**한다.

    ```
    변수_이름 = 변수에_저장할_값
    ```

- 변수 이름
    - 소문자(a~z)
    - 대문자(A~Z)
    - 숫자(0~9)
    - 언더바(_)
    - 시작은 숫자로 할 수 없다.

- 숫자, 불, 문자열, 리스트, 튜플, 셋, 딕셔너리, ...

    Python은 C나 JAVA와 달리 변수를 만들 때 자료형 타입을 지정하지 않아도 된다.

    자료형 타입 확인 함수: type()

| 이름 | 타입 | 가변 | 예제|
| - | - | - | - |
| 정수 | int | no | 47, 25000, 25_000 |
| 부동소수점 | float | no | 3.14, 2.7e5 |
| 복소수 | complex | no | 3j, 5 + 9j |
| 불리언 | bool | no | True, False |
| 문자열 | str | no | 'konkuk', 'seoul' |
| 리스트 | list | yes | ['seoul', 'busan', 'daegu']|
| 튜플 | tuple | no | (2, 4, 6) |
| 셋 | set | yes | set([3, 5, 7]) |
| 딕셔너리 | dic | yes | {'name':'konkuk', age: 18}|

### 2. 숫자형

- 정수형 int

- 실수형 float

- 지수 표현

- 사칙 연산

| 연산자 | 설명 |
|-|-|
|+| 더하기 |
|-| 빼기 |
|*| 곱하기|
|/| 소수점 나누기 |
| // | 정수 나누기 |
|%| 나머지 |
| ** | 지수 |

In [8]:
a = 10.
print(a)
print(type(a))

10.0
<class 'float'>

In [14]:
INF = 1000000000
INF= 1e9
#지수는 항상 float타입으로
print(type(INF))

<class 'float'>

In [18]:
a = -5 ** 2
print(a)

-25

### 3. 불리언

True, False

In [20]:
#숫자의 크기로 비교하기 때문에, type이 달라도 같다
a = 5.
b = 5
c = a==b

print(c)
print(type(c))

True
<class 'bool'>

- 타입 변환

    int(), float(), bool()

In [22]:
#0만 아니면 True
print(bool(1.))
print(bool(3.14))

True
True

### 4. 문자열

문자열을 시퀀스의 첫번째 예제다. 문자열은 일련의 문자다.

문자는 시스템에서 가장 작은 단위이며 문자, 숫자, 기호, 부호, 공백, 줄바꿈과 같은 지시문을 포함한다.

In [29]:
a = '"하이주연"'
print(a)
print(type(a))

"하이주연"
<class 'str'>

In [31]:
a = "안녕\t주연아"
print(a)

b = r"안녕\t주연아"
print(b)

안녕	주연아
안녕\t주연아

- 문자열 타입 변환

In [37]:
a = 3.1111
#소수점 뒤가 다 날라감 (반올림과 관계없음)
b = -3.9999
print(int(a))
print(int(b))

#반올림하려면 round 함수 쓸 것
print(round(a))
print(round(b))

#소수점 몇번째 자리까지
print(round(3.141592, 3))

3
-3
3
-4
3.142

- 문자열 연산, + *

In [39]:
a = '안녕 '
b = '주여나'
print(a+b)


print(a*5)

안녕 주여나
안녕 안녕 안녕 안녕 안녕

- 문자 추출

In [55]:
letters = '123456789123456789'
print(letters[0])
print(letters[-2]) #뒤에서 2번째
print(len(letters))

1
8
18

In [58]:
print(letters[0:8:2]) #0~8 까지 2간격으로 --> 귿데 letters[8]은 출력 안 됨. index 8 전까지인듯
print(letters[8:0:-2])
print(letters[:]) #그냥 전체
print(letters[::-1]) #뒤에서부터

1357
9753
123456789123456789
987654321987654321

- 문자 나누기

    https://www.acmicpc.net/problem/1000

    - 문제
        
        두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

    - 입력
        
        첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

    - 출력
        
        첫째 줄에 A+B를 출력한다.

    - 예제 입력 1

        1 2

    - 예제 출력 1

        3

- 검색

## 정리

- 내장 함수

print(), type(), id(), int(), float(), str(), bool(), round(), min(), max() ...